@model FanMatch.ViewModels.MatchResultViewModel

@{
    ViewBag.Title = "Match Results";
}

<h1>@ViewBag.Title</h1>


<script>

    function DrawLine(x1, y1, x2, y2) {

        if (y1 < y2) {
            var pom = y1;
            y1 = y2;
            y2 = pom;
            pom = x1;
            x1 = x2;
            x2 = pom;
        }

        var a = Math.abs(x1 - x2);
        var b = Math.abs(y1 - y2);
        var c;
        var sx = (x1 + x2) / 2;
        var sy = (y1 + y2) / 2;
        var width = Math.sqrt(a * a + b * b);
        var x = sx - width / 2;
        var y = sy;

        a = width / 2;

        c = Math.abs(sx - x);

        b = Math.sqrt(Math.abs(x1 - x) * Math.abs(x1 - x) + Math.abs(y1 - y) * Math.abs(y1 - y));

        var cosb = (b * b - a * a - c * c) / (2 * a * c);
        var rad = Math.acos(cosb);
        var deg = (rad * 180) / Math.PI

        htmlns = "http://www.w3.org/1999/xhtml";
        div = document.createElementNS(htmlns, "div");
        div.setAttribute('style', 'border:1px dashed #ccc;width:' + width + 'px;height:0px;-moz-transform:rotate(' + deg + 'deg);-webkit-transform:rotate(' + deg + 'deg);position:absolute;top:' + y + 'px;left:' + x + 'px;');
        div.setAttribute('class', 'fandomLine');

        document.getElementById("main").appendChild(div);

    }

    function ElementLine($start, $end) {
        var startOffset = $start.offset();
        var endOffset = $end.offset();
        var xStart = startOffset.left + $start.width() / 2.0
        var xEnd = endOffset.left + $end.width() / 2.0
        var yStart, yEnd;
        if (startOffset.top < endOffset.top) {
            yStart = startOffset.top + $start.height();
            yEnd = endOffset.top;
        } else if (startOffset.top == endOffset.top) {
            yStart = startOffset.top;
            yEnd = endOffset.top;
        } else {
            yStart = startOffset.top;
            yEnd = endOffset.top + $end.height();
        }

        DrawLine(xStart, yStart, xEnd, yEnd);
    }

    $(function () {
        $('table .btn').on('click', function (e) {
            e.preventDefault();
            var tr = $(this).closest("tr");
            $("#reader").val(tr.data('reader-id'));
            $("#writer").val(tr.data('writer-id'));
            var action;
            if ($(this).is('.lock')) {
                action = "@FanMatch.Controllers.MatchAction.Lock";
            }
            else if ($(this).is('.ban')) {
                action = "@FanMatch.Controllers.MatchAction.Ban";
            }
            else {
                action = "@FanMatch.Controllers.MatchAction.Clear";
            }
            $("#matchAction").val(action);
            $("#ChangeMatchStatus").submit();
        });

        $(".manualSelect").on("change", function () {
            var select = this;
            var personId = $(select).val();
            var target = $(select).data("tag-placeholder");
            if (!personId) {
                $(target).html("");
                $("#manualSubmit").addClass("disabled");
                return;
            }

            if (_.every($(".manualSelect"), function (e) { return $(e).val(); })) {
                $("#manualSubmit").removeClass("disabled");
            }

            $.get("@Url.Action("_PersonTag", "Person")",
                { id: personId },
                function (data) {
                    $(target).html(data);
                },
                "html");

        });

        $(document).keyup(function (e) {

            if (e.keyCode === 27) {
                $(".fandomLine").remove();
            }

        });

        $("#main").on("mouseover", ".personTag", function () {
            $(".fandomLine").remove();
            var start = $(this).find(".fandom-tip");
            $(".fandom-tip").each(function () {
                var end = this;
                if (start == end) { return true; }
                var startName = $(start).closest(".personTag").find(".personName");
                var endName = $(end).closest(".personTag").find(".personName");

                if (startName.text() == endName.text()) { return true; }

                var startFandoms = $(start).attr("title").split(", ");
                var endFandoms = $(end).attr("title").split(', ');
                if (_.intersect(startFandoms, endFandoms).length) {
                    
                    ElementLine(startName, endName);
                }
            });
        });


    });
</script>

<style type="text/css">
    .match-table th {
        width: 20%;
    }
</style>

<form method="post" id="ChangeMatchStatus" action="@Url.Action("ChangeMatchStatus")">
    <input type="hidden" name="reader" id="reader" />
    <input type="hidden" name="writer" id="writer"/>
    <input type="hidden" name="action" id="matchAction"/>
</form>

<div class="row-fluid">
<form method="post" class="well well-small span4"  action="@Url.Action("ChangeMatchStatus")">
    <fieldset>
    @Html.Hidden("action", "Lock")
    <legend>Manual match</legend>
    <label for="reader">Reader: <span id="readerTagPlaceholder"></span></label>
    <select name="reader"class="manualSelect"  data-tag-placeholder="#readerTagPlaceholder">
        <option></option>
        @foreach (var person in Model.AllPeople.Where(p => p.IsReader).OrderBy(p => p.Name))
        {
            <option value="@person.Id">@person.Name</option>
        }
    </select>

    <label for="writer">Writer: <span id="writerTagPlaceholder"></span></label>
    <select name="writer" class="manualSelect" data-tag-placeholder="#writerTagPlaceholder">
        <option></option>
        @foreach (var person in Model.AllPeople.Where(p => p.IsWriter).OrderBy(p => p.Name))
        {
            <option value="@person.Id">@person.Name</option>
        }
    </select>

    <br />

    <button type="submit" class="btn btn-success disabled" id="manualSubmit" value="Lock"><i class="icon-lock icon-white"></i> Lock</button>
        </fieldset>
</form>
    </div>

<h3>Locked</h3>


<table class="table table-bordered table-striped match-table">
    <tr>
        <th>Reader</th>
        <th>Writer</th>
        <th>Fandom</th>
        <th>Unlock</th>
        <th>Ban</th>
    </tr>

    @foreach (var match in Model.Locked)
    {
       <tr data-reader-id="@match.ReaderId" data-writer-id="@match.WriterId">
            <td>@Html.Partial("_PersonTag", match.Reader)</td>
            <td>@Html.Partial("_PersonTag", match.Writer)</td>
            <td>@match.FandomIntersection()</td>
            <td><a class="btn unlock" href="#"><i class="icon-lock"></i></a></td>
            <td><a class="btn btn-danger ban" href="#"><i class="icon-ban-circle  icon-white"></i></a></td>
        </tr>
    }
</table>

<h3>Matched</h3>

<table class="table table-bordered table-striped match-table">
    <tr>
        <th>Reader</th>
        <th>Writer</th>
        <th>Fandom</th>
        <th>Lock</th>
        <th>Ban</th>
    </tr>
    @foreach (var match in Model.Matches)
    {
       <tr data-reader-id="@match.ReaderId" data-writer-id="@match.WriterId">
            <td>@Html.Partial("_PersonTag", match.Reader)</td>
            <td>@Html.Partial("_PersonTag", match.Writer)</td>
            <td>@match.FandomIntersection()</td>
            <td><a class="btn btn-success lock" href="#"><i class="icon-lock icon-white"></i></a></td>
            <td><a class="btn btn-danger ban" href="#"><i class="icon-ban-circle icon-white"></i></a></td>
        </tr>
    }
</table>

@if (Model.UnmatchedPeople.Any())
{

    <h3>Unmatched</h3>
    
    @Html.Partial("_PersonTable", Model.UnmatchedPeople) 
    
    
}


<h3>Banned</h3>

<table class="table table-bordered table-striped match-table">
    <tr>
        <th>Reader</th>
        <th>Writer</th>
        <th>Fandom</th>
        <th>Lock</th>
        <th>Unban</th>
    </tr>
    @foreach (var match in Model.Banned)
    {
       <tr data-reader-id="@match.ReaderId" data-writer-id="@match.WriterId">
            <td>@Html.Partial("_PersonTag", match.Reader)</td>
            <td>@Html.Partial("_PersonTag", match.Writer)</td>

            <td>@match.FandomIntersection()</td>
            <td><a class="btn btn-success lock" href="#"><i class="icon-lock icon-white"></i></a></td>
            <td><a class="btn unban" href="#"><i class="icon-ban-circle"></i></a></td>
        </tr>
    }
</table>

